{% extends 'homepage.html' %}
{% load static %}
{% block content %}
			<div id="wrapper">
				{% include 'include/header.html' %}
				<!-- Menu -->
					<section id="menu">
						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>
						{% include 'include/link.html' %}
					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
						{% for new in page_obj %}
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="{% url 'news_detail' new.id %}">{{ new.headline }}</a></h2>
										<p>{{ new.title }}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{ new.created }}</time>
										<!-- <a href="#" class="author"><span class="name">Jane Doe</span><img src="{% static 'images/avatar.jpg' %}" alt="" /></a> -->
									</div>
								</header>
								<a href="single.html" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
								<p>{{ new.description }}</p>
								<footer>
									<ul class="actions">
										<li><a href="{% url 'news_detail' new.id %}" class="button large">Продолжить читать</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
							{% endfor %}
						<!-- Pagination -->

						
							<div class="action pagination">
								<span class="step-links">
									{% if page_obj.has_previous %}
										<li><a href="?page=1" >&laquo; first</a>
											<a href="?page={{ page_obj.previous_page_number }}">previous</a>
										</li>
									{% endif %}

									<span class="current">
										Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
									</span>

									{% if page_obj.has_next %}
										<a href="?page={{ page_obj.next_page_number }}">next</a>
										<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
									{% endif %}
								</span>
							</div>
							<!-- <ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="#" class="button large next">Next Page</a></li>
							</ul> -->

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="{% static 'images/newyourktime.png' %}" alt="" /></a>
								<header>
									<h2>Новости Кыргызстана</h2>
									<p>Наш первый проект на фраймворке <a href="http://html5up.net">Django</a></p>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
									{% for podcast in podcasts %}
										<article class="mini-post">
											<header>
												<h3><a href="single.html">{{ podcast.headline }}</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
												<!-- <a href="#" class="author"><img src="{% static 'images/avatar.jpg' %}" alt="" /></a> -->
											</header>
											<a href="single.html" class="image"><img src="{{ podcast.image.url }}" alt="" /></a>
										</article>
									{% endfor %}
								</div>
							</section>

						<!-- Posts List -->
							<section>
								<ul class="posts">
									<li>
										{% for addvert in addverts %}
										<article>
											<header>
												<h3><a href="single.html">{{ addvert.title }}</a></h3>
												<time class="published" datetime="2015-10-20">{{ addvert.created }}</time>
											</header>
											<a href="single.html" class="image"><img src="{{ addvert.photo.url }}" alt="" /></a>
										</article>
										{% endfor %}
									</li>
								</ul>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>О нас</h2>
								<p>{{ setting.about }}</p>
							</section>

						{% include 'include/footer.html' %}
			</div>
{% endblock %}